.vui-flex {
    display: var(--flex-display);
    flex-flow: var(--flex-direction) var(--flex-wrap);
    gap: var(--gap, var(--row-gap, 0) var(--column-gap, 0));
    place-content: var(--align-content) var(--justify-content);
    align-items: var(--align-items);
}
