.vui-flex {
    display: var(--flex-display);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    gap: var(--gap, var(--row-gap, 0) var(--column-gap, 0));
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
}
