.vui-grid {
    display: var(--grid-display);
    grid-auto-columns: var(--grid-auto-columns);
    grid-auto-flow: var(--grid-auto-flow);
    grid-template: var(--grid-template-areas) var(--grid-template-rows) / var(
            --grid-template-columns
        );
    gap: var(--gap, var(--row-gap, 0) var(--column-gap, 0));
    place-content: var(--align-content) var(--justify-content);
    align-items: var(--align-items);
}
