:where(.text) {
    --font-family: var(--body-md-font-family);
    --font-size: var(--body-md-font-size); /* 16px */
    --font-weight: var(--body-md-font-weight);
    --line-height: var(--body-md-line-height); /* 24px */

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

:where(.text--medium) {
    --font-weight: var(--body-md-medium-font-weight); /* 500 */
}

:where(.text--semibold) {
    --font-weight: var(--body-md-semi-bold-font-weight); /* 600 */
}

:where(.text--bold) {
    --font-weight: var(--body-md-bold-font-weight); /* 700 */
}

:where(.text--xs) {
    --font-size: var(--body-xs-font-size); /* 12px */
}

:where(.text--xs.text--medium) {
    --font-weight: var(--body-xs-medium-font-weight); /* 500 */
}

:where(.text--xs.text--semibold) {
    --font-weight: var(--body-xs-semi-bold-font-weight); /* 600 */
}

:where(.text--xs.text--bold) {
    --font-weight: var(--body-xs-bold-font-weight); /* 700 */
}

:where(.text--sm) {
    --font-size: var(--body-sm-font-size); /* 14px */
}

:where(.text--sm.text--medium) {
    --font-weight: var(--body-sm-medium-font-weight); /* 500 */
}

:where(.text--sm.text--semibold) {
    --font-weight: var(--body-sm-semi-bold-font-weight); /* 600 */
}

:where(.text--sm.text--bold) {
    --font-weight: var(--body-sm-bold-font-weight); /* 700 */
}

:where(.text--md) {
    --font-size: var(--body-md-font-size); /* 16px */
}

:where(.text--md.text--medium) {
    --font-weight: var(--body-md-medium-font-weight); /* 500 */
}

:where(.text--md.text--semibold) {
    --font-weight: var(--body-md-semi-bold-font-weight); /* 600 */
}

:where(.text--md.text--bold) {
    --font-weight: var(--body-md-bold-font-weight); /* 700 */
}

:where(.text--lg) {
    --font-size: var(--body-lg-font-size); /* 18px */
}
:where(.text--lg.text--medium) {
    --font-weight: var(--body-lg-medium-font-weight); /* 500 */
}
:where(.text--lg.text--semibold) {
    --font-weight: var(--body-lg-semi-bold-font-weight); /* 600 */
}
:where(.text--lg.text--bold) {
    --font-weight: var(--body-lg-bold-font-weight); /* 700 */
}

:where(.text--xl) {
    --font-size: var(--body-xl-font-size); /* 24px */
}

:where(.text--xl.text--medium) {
    --font-weight: var(--body-xl-medium-font-weight); /* 500 */
}
:where(.text--xl.text--semibold) {
    --font-weight: var(--body-xl-semi-bold-font-weight); /* 600 */
}
:where(.text--xl.text--bold) {
    --font-weight: var(--body-xl-bold-font-weight); /* 700 */
}

:where(.text--2xl) {
    --font-size: var(--body-2xl-font-size); /* 28px */
}
:where(.text--2xl.text--medium) {
    --font-weight: var(--body-2xl-medium-font-weight); /* 500 */
}

:where(.text--2xl.text--semibold) {
    --font-weight: var(--body-2xl-semi-bold-font-weight); /* 600 */
}

:where(.text--2xl.text--bold) {
    --font-weight: var(--body-2xl-bold-font-weight); /* 700 */
}

:where(.text--3xl) {
    --font-size: var(--body-3xl-font-size); /* 32px */
}

:where(.text--3xl.text--medium) {
    --font-weight: var(--body-3xl-medium-font-weight); /* 500 */
}

:where(.text--3xl.text--semibold) {
    --font-weight: var(--body-3xl-semi-bold-font-weight); /* 600 */
}

:where(.text--3xl.text--bold) {
    --font-weight: var(--body-3xl-bold-font-weight); /* 700 */
}

:where(.text--inherit-size) {
    --font-size: inherit;
}

:where(.text--inherit-weight) {
    --font-weight: inherit;
}
