.vui-text {
    $self: &;

    --text-font-family: var(--vui-body-md-font-family);
    --text-font-size: var(--vui-body-md-font-size);
    --text-font-weight: var(--vui-body-md-font-weight);
    --text-line-height: var(--vui-body-md-line-height);

    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);

    &--text-medium {
        --text-font-weight: var(--vui-body-md-medium-font-weight);
    }

    &--text-semibold {
        --text-font-weight: var(--vui-body-md-semi-bold-font-weight);
    }

    &--text-bold {
        --text-font-weight: var(--vui-body-md-bold-font-weight);
    }

    &--text-xs {
        --text-font-size: var(--vui-body-xs-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-xs-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-xs-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-xs-bold-font-weight);
        }
    }

    &--text-sm {
        --text-font-size: var(--vui-body-sm-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-sm-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-sm-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-sm-bold-font-weight);
        }
    }

    &--text-md {
        --text-font-size: var(--vui-body-md-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-md-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-md-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-md-bold-font-weight);
        }
    }

    &--text-lg {
        --text-font-size: var(--vui-body-lg-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-lg-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-lg-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-lg-bold-font-weight);
        }
    }

    &--text-xl {
        --text-font-size: var(--vui-body-xl-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-xl-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-xl-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-xl-bold-font-weight);
        }
    }

    &--text-2xl {
        --text-font-size: var(--vui-body-2xl-font-size);

        &#{$self}--text-medium {
            --text-font-weight: var(--vui-body-2xl-medium-font-weight);
        }

        &#{$self}--text-semibold {
            --text-font-weight: var(--vui-body-2xl-semi-bold-font-weight);
        }

        &#{$self}--text-bold {
            --text-font-weight: var(--vui-body-2xl-bold-font-weight);
        }
    }

    &--text-inherit-size {
        --text-font-size: inherit;
    }

    &--text-inherit-weight {
        --text-font-weight: inherit;
    }
}
