@import url("@vicky-ui/components/index.css");

body {
    font-family: var(--vui-body-md-font-family);
    font-size: var(--vui-body-md-font-size);
    line-height: var(--vui-body-md-line-height);
    color: var(--vui-text-primary-default);
}

.sbdocs-content p {
    font-family: var(--vui-body-sm-font-family);
    font-size: var(--vui-body-sm-font-size);
    line-height: var(--vui-body-sm-line-height);
    color: var(--vui-text-primary-default);
}
