@import url("@vicky-ui/tokens/tokens.css");
@import url("@vicky-ui/tokens/fonts.css");

body {
    font-family: var(--vui-body-md-font-family);
    font-size: var(--vui-body-md-font-size);
    line-height: var(--vui-body-md-line-height);
    color: var(--vui-primary-text);
}

.sbdocs-content p {
    font-family: var(--vui-body-sm-font-family);
    font-size: var(--vui-body-sm-font-size);
    line-height: var(--vui-body-sm-line-height);
    color: var(--vui-primary-text);
}
